.btnFixed{
    position: fixed;
    background-color: #000;
    color: #fff;
    bottom: 150px;
    right: 50px;
}

.divBtnFixed{
    height: 50px;
}

/* Dark Mode */

.btnFixedDark{
    position: fixed;
    background-color: #fff;
    color: #000;
    bottom: 150px;
    right: 50px;
}

.divBtnFixedDark{
    height: 50px;
    background-color: #000;
}