*{
    margin: 0;
    padding: 0;
}

.mainContainer{
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

.imgProd{
    height: 250px;
    width: 250px;
    border-color: #fff;
}

.h1Title{
    font-size: 25px;
}

.divDescrip{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divImgDetail{
display: flex;
align-items: center;
}


/* Dark Mode */ 

.mainContainerDark{
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    background-color: #000;
    color: #fff;
}

.imgProdDark{
    height: 250px;
    width: 250px;
    border: 1px solid #000;
    border-radius: 5%;
}
