*{
    margin: 0;
    padding: 0;
}

.navBarContainer{
    padding-bottom: 50px;
    padding-top: 30px;
}

.ulNavBar{
    display: flex;
    justify-content: space-evenly;
}

.ulNavBar button{
    list-style: none;
}

.btnNavBar{
    background-color: #000;
    color: #fff;
}

/* Dark Mode */

.navBarContainerDark{
    background-color: #000;
    color: #fff;
    padding-bottom: 50px;
    padding-top: 30px;
}

.btnNavBarDark{
    background-color: #fff;
    color: #000;
}